@font-face {
    font-family: "fonts/Smokum-Regular.ttf";
    src: url("fonts/Smokum-Regular.ttf");
}

body {
    background:url("images/ciel.jpg") fixed no-repeat ;
}

header h1
{
    text-align: center;
    border-top: 10px groove green;
    border-bottom: 10px groove red;
    border-left: 10px groove yellow;
    border-right: 10px groove yellow;
    background-color: grey;
    color: black;
    border-radius: 20px/40px;
    margin:auto;
    width: 400px;
    font-family: 'Smokum', cursive;
}

div p{
    text-align: center;
}
.grand{
    font-size: 2em;
    text-decoration: underline;
}

h2 
{
    color: rgb(238, 245, 244);
    text-shadow: 2px 2px 6px;
    font-size: 2em;
    font-family: Arial, Impact,sans-serif;
    text-align: center;
    text-decoration: underline 2px black;
}

ul{
    list-style-type:none;
}

li{
    font-size: 1.2em;
}

em
{
    font-weight: bold;
    color: orangered;
}

#conteneur{
    display: flex;
    flex-direction: column;
}

section {
    margin: auto;
    width:40%;
    background: yellow;
}

.element:nth-child(1)
{
    order: 1;
}
.element:nth-child(2)
{
    order: 2;
}
.element:nth-child(3)
{
    order: 3;
}
.element:nth-child(4)
{
    order: 4;
}

footer p{
    text-align: center;
}

