h2 
{
    color: rgb(238, 245, 244);
}

h2 + p
{
    color: green;
}

.intro
{
    color: crimson;
}

a[title]
{
    background-color: aqua;
}

h2
{
    font-size: 2em; font-style: Arial, impact,oblique,serif;
}

h1
{
    text-align: center;
}

em
{
    font-weight: bold;
}

li
{
    text-decoration: underline;
}

p
{
    text-align: justify;
}

.flottante
{
    float: left;
}

.dessous
{
    clear: both;
}

body {
    background-color: black;
    background: url("images/ciel.png") fixed no-repeat;
    background-size: cover;
    color: aqua;
}

mark{
    background-color: yellow;
}

h1 {
    border: 10px solid rebeccapurple;
    color: brown;
    background-color: darkgrey;
}

strong {
    font-size: 1.5em;
    color: brown;
}
