h2 
{
    color: rgb(20, 255, 216);
}

h2 + p
{
    color: green;
}

.intro
{
    color: crimson;
}

a[title]
{
    background-color: aqua;
}

h2
{
    font-size: 2em; font-style: Arial, impact,oblique,serif;
}

h1
{
    text-align: center;
}